.group {
    /* position: absolute; */
    float:left;
    border: 4px solid black;
    margin: 10px; 
}
.leader {
/* border-bottom: 3px solid black; */
/* margin-left: 40px;
margin-right:40px;
margin-top: 8px; */
margin: 8px 40px 1px 40px;
font-size: 20px;
}
.members {
border: 4px solid black;
margin: 25px 10px 25px 10px;
/* margin-left: 10px;
margin-right: 10px;
margin-top: 25px;
margin-bottom: 25px; */
border-radius: 12%;
padding-right: 20px; 
float:left;
clear:both;
}
.option {
border: 4px solid green;
/* margin: auto; */
float: right;
margin: 40px 2px auto 10px;
/* margin-left: 10px;
margin-right: 2px;
margin-top: 40px;
margin-bottom: auto; */
padding: 3px 3px;
}
.line {
height: 4px;
background-color: black;
}

