{% extends 'base.html' %}
{% block extrahead %}
{% load static %}
<script src="{% static 'assets/js/jquery-confirm.min.js' %}"></script>
<link href="{% static 'assets/css/jquery-confirm.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'assets/css/codemirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/codemirror/material.css' %}">
<script src="{% static 'assets/js/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'assets/js/codemirror/addon/display/autorefresh.js' %}"></script>
<script src="{% static 'assets/js/codemirror/mode/clike.js' %}"></script>
<script src="{% static 'assets/js/codemirror/mode/python.js' %}"></script>
<script src="{% static 'assets/js/jquery.form-validator.min.js' %}"></script>
{% endblock %}
{% block content %}
     
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
            <h3>
            <i class="fa fa-angle-right">
            {{ resource.title }}
            </i>
            </h3>          
            
                {% if resource.type.name == '在线视频' %}
                    {{ resource.link|safe }}
<script>
window.onload = window.onresize = function () {
    resizeIframe();
}
var resizeIframe=function(){
    var bodyw=document.body.clientWidth;
    for(var ilength=0;ilength<=document.getElementsByTagName("iframe").length;ilength++){
      if(bodyw>768){
        document.getElementsByTagName("iframe")[ilength].width = (bodyw - 270) * 0.8;
        document.getElementsByTagName("iframe")[ilength].height = (bodyw - 270) * 0.8/ 16 * 9;
      }
      else{
        document.getElementsByTagName("iframe")[ilength].width = bodyw * 0.8;
        document.getElementsByTagName("iframe")[ilength].height = (bodyw * 0.8) / 16 * 9;
      }
    }
}
</script>
                {% endif %}
                {% if resource.type.name == '在线作业' %}
                    <a href='{{ resource.link }}'>点这里去做作业</a>
                {% endif %}
                {% if resource.type.name == '电子课件' %}
                    <a target="_blank" href='{{ resource.link }}'>点击此处查看</a>
                {% endif %}
                
{% endblock %}
    
    
