{% extends 'base.html' %}
{% comment %}用于老师添加课程{% endcomment %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/bootstrap-table.min.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-table.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-tagsinput.min.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap-tagsinput-typeahead.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap-tagsinput.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<form id="homework-add-form" method="post" onsubmit="return checkForm()">
    {% csrf_token %}
    <p>请增加课程题目</p>
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <select class="form-control" id="category" name="category">
                    <option value="0" selected="selected">题目分类</option>
                    {% for category in categorys %}
                        <option value="{{ category.pk }}">{{ category.category}}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="ok" type="submit" class="btn btn-default">筛选</button>
        </div>
    </div>
    <table id="table"
           data-toggle="table"
           data-url="{% url 'get_json_sheji' %}"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[10]"
           data-classes="table table-hover table-condensed"
           data-toolbar="#toolbar"
           data-striped="true"
           data-query-params="queryParams"
           data-search="true"
    >
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="pk" data-sortable="true">ID</th>
            <th class="nobr" data-field="title" data-sortable="true">标题</th>
            <th class="nobr" data-field="category"> 题目分类</th>
            <th data-field="update_date" data-sortable="true">最后修改日期</th>
            <th data-field="creator">创建者</th>
        </tr>
        </thead>
    </table>
    <button type="button" class="btn btn-success btn-lg" id="save_problems" onclick="saveProblem()">保存选择的题目</button><br><br>
    <label class="control-lable">已选择的题目（本页面只能添加题目，欲移除已选择的题目请至课程详细页面进行：<a href="{% url 'view_course_for_teacher' courseId%}">移步至课程详细页面</a>)</label><br>
    <input type="text" id="tags" class="form-control" name="problems"><br>
    <h3>批量添加学生账号</h3>
    <input type="hidden" name="banji_id" id="banji_id" value="{{ id }}">
    <p><textarea name="students" id="students_info" class="form-control" rows="10"
                 placeholder="学生账号信息格式为：一行一个学生，每行的前两个字段是学号和真实姓名，初始密码同用户名，初始邮箱为南邮邮箱，字段之间用空格分隔"></textarea>
    <button type="submit" class="btn btn-success btn-lg">保存</button>
</form>
<script type="text/javascript">
    var elt = $('#tags');
    elt.tagsinput({
       itemValue: 'value',
       itemText: 'text'
    });
    $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
    var $table = $('#table');
    $ok = $('#ok');
    $(function () {
        $ok.click(function () {
            $table.bootstrapTable('refresh');
        });
    });
    function queryParams(params) {
        $('#toolbar').find('select[name]').each(function () {
            params[$(this).attr('name')] = $(this).val();
        });
        return params;
    }
    $(document).ready(function(){
        $.ajax({
            type:"GET",
            url:"{% url 'get_select_problem_title' courseId %}",
            dataType:"json",
            success:function(data){
                for (var key in data) {
                    elt.tagsinput('add', {'value': parseInt(key), 'text': key + '.' + data[key]});
                }
            },
            error:function(jqXHR){
                alert("error" + jqXHR.status);
            }
        });
    });
    function saveProblem() {
         var ids = $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id;
        });
        for (var i = 0; i < ids.length; ++i) {
            elt.tagsinput('add', {'value': ids[i], 'text': ids[i] + "." + $table.bootstrapTable('getSelections')[i].title});
        }
    }
    function checkForm() {
        $('#select-problems').val(Array.from(selectSet));
        return true;
    }
</script>
{% endblock %}