{% extends 'base.html' %}
{% comment %}用于给教师查看自己的课程{% endcomment %}
{% block content %}
<a href={% url 'add_codeweek_course' %}>添加课程</a>
    <h3>正在进行的课程</h3>
    {% if nowCourses %}
        {% for course in nowCourses %}
           <a href="/code_week/course-{{ course.id }}/">{{ course.name }}</a><br>
        {% endfor %}
    {% else %}
        <p>暂无</p>
    {% endif %}
<h3>还未开始的课程</h3>
    {% if futureCourses %}
        {% for course in futureCourses %}
            <a href="/code_week/course-{{ course.id }}/">{{ course.name }}</a><br>
        {% endfor %}
    {% else %}
        <p>暂无</p>
    {% endif %}
<h3>已经结束的课程</h3>
    {% if previousCourses %}
        {% for course in previousCourses %}
            <a href="/code_week/course-{{ course.id }}/">{{ course.name }}</a><br>
        {% endfor %}
    {% else %}
        <p>暂无</p>
    {% endif %}
{% endblock %}
