{% extends 'base.html' %}
{% comment %}用于学生提交代码{% endcomment %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/jquery.ztree.core.js' %}"></script>
    <link href="{% static 'assets/css/zTreeStyle/zTreeStyle.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/codemirror/material.css' %}">
    <script src="{% static 'assets/js/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/addon/display/autorefresh.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/mode/clike.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/mode/python.js' %}"></script>
    <script src="{% static 'assets/js/vue.js' %}"></script>
    <style type="text/css">
        div.content_wrap {width: 600px;height:380px;}
        div.content_wrap div.left{float: left;width: 250px;}
        div.content_wrap div.right{float: right;width: 340px;}
    div.content_wrap div.left{float: left;width: 250px;}
    div.zTreeDemoBackground {width:250px;height:362px;text-align:left;}
    div.content_wrap {
	margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
    div.zTreeDemoBackground {
	margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
    </style>
{% endblock %}
{% block content %}
    {% if members %}
<form method="post" id="submit-form" enctype="multipart/form-data" onsubmit="return checkContribution()">
    {% csrf_token %}
    <input type="file" name="codeFile" accept="application/zip">
    <br>
    <p>请选择组员的贡献度等级:</p>
    {% if members %}
        {% for member in members %}
            <lable class="member_name">{{ member.get_full_name }}</lable>
            <select>
                <option value="1">高</option>
                <option value="2">较高</option>
                <option value="3" selected>中等</option>
                <option value="4">较低</option>
                <option value="5">低</option>
            </select>
            <br>
        {% endfor %}
    {% endif %}
    <input type="text" id="ctext" name="contribution" hidden="true">
    <button type="submit">提交代码</button>
</form>
    <form method="post" id="submit-report-form" enctype="multipart/form-data" action={% url 'upload_report' course.id %}>
    {% csrf_token %}
        <br>
        <p>课程报告（完成了程序编写再提交）</p>
        {% load static %}
        <a href="{% static 'file/南京邮电大学程序设计报告样稿（个体报告2018.d版）.docx' %}">南京邮电大学程序设计报告样稿（个体报告2018.d版）</a><br>
        <a href="{% static 'file/南京邮电大学程序设计报告样稿（团体报告2018.d版）.docx' %}">南京邮电大学程序设计报告样稿（团体报告2018.d版）</a>
        <input type="file" name="report" accept=".doc,.doxc">
        <button type="submit">提交课程报告</button>
    </form>
    {% endif %}
    <br>
    <div id="selects"></div>
    <div class="content_wrap">
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
{#        <div class="container">#}
        <textarea class="form-control" id="code-display" cols="50" rows="10"></textarea>
{#            </div>#}
    <script type="text/javascript">
        var editor;
        var setting = {
            data: {
				simpleData: {
					enable: true
				}
			},
            callback: {
                onClick: clickFile
            }
	    };
        var zNodes = [];
        var dirs = {};
        var dirVue;
        var reportVue;
        var now = -1;
        var globalCodeData ="";
        $(document).ready(function(){
            $.ajax({
                type:"GET",
                url:"{% url 'get_all_code_history' course.id %}",
                dataType:"json",
                success:function (data) {
                    handleHistory(data);
                },
                error:function (jqXHR) {
                    alert("error" + jqXHR.status);
                }
            });
            $.ajax({
                type:"GET",
                url:"{% url 'get_all_report_history' course.id %}",
                dataType:"json",
                success:function (data) {
                    handleReportHistory(data);
                },
                error:function (jqXHR) {
                    alert("error" + jqXHR.status);
                }
            });
			{#$.fn.zTree.init($("#treeDemo"), setting, zNodes);#}
			var members = $('.member_name');
            editor = CodeMirror.fromTextArea(document.getElementById("code-display"),{
                lineNumbers:true,
                mode:"text/x-c++src",
                theme:'material',
                readOnly: 'true',
            });
		});
        function handleHistory(data) // 用于处理获取到的所有目录信息
        {
            // 完成的任务有将最新的一次数据给zTree显示
            // 设置下载最新代码的按钮
            // 将以前版本的给vue用来显示

            // 对数据按照id降序排序
            data.sort(function(a, b) {
                return b['id'] - a['id'];
            });
            if (data.length <= 0)
            {
                return;
            }
            else { // 添加历史代码选择
                {% verbatim %}
                var source = '<div id="historyCodeSelect">\n' +
                    '        <p>选择以前版本代码</p>\n' +
                    '        <select v-model="selected">\n' +
                    '            <option v-for="option in options" v-bind:value="option.value">\n' +
                    '                {{ option.text }}\n' +
                    '            </option>\n' +
                    '        </select>\n' +
                    '        <button onclick="refreshTree()">刷新目录</button>\n' +
                    '       <button onclick="downloadFile()">下载这个历史代码</button>\n' +
                    '    </div>';
                {% endverbatim %}
                $('#selects').after(source);
                dirVue = new Vue({
                el: '#historyCodeSelect',
                data: {
                    selected: '',
                    options: [
                        ]
                    }
                });
            }
            var options = [];
            for (var i = 0; i < data.length; ++i)
            {
                options.push({text: data[i]['time'], value: data[i]['id']});
                dirs[data[i]['id']] = data[i]['text'];
            }
            dirVue.options = options;
            dirVue.selected = data[0]['id'];
            dataToNodes(JSON.parse(data[0]['text']));
        }
        function handleReportHistory(data) // 用于处理获取到的所有课程报告
        {
            // 完成的任务有将最新的一次数据给zTree显示
            // 设置下载最新代码的按钮
            // 将以前版本的给vue用来显示

            // 对数据按照id降序排序
            data.sort(function(a, b) {
                return b['id'] - a['id'];
            });
            if (data.length <= 0)
            {
                return;
            }
            else { // 添加历史代码选择
                {% verbatim %}
                var source = '<div id="reportSelect">\n' +
                    '        <p>选择以前提交的课程报告</p>\n' +
                    '        <select v-model="selected">\n' +
                    '            <option v-for="option in options" v-bind:value="option.value">\n' +
                    '                {{ option.text }}\n' +
                    '            </option>\n' +
                    '        </select>\n' +
                    '       <button onclick="downloadReport()">下载这个课程报告</button>\n' +
                    '    </div>';
                {% endverbatim %}
                $('#selects').after(source);
                reportVue = new Vue({
                el: '#reportSelect',
                data: {
                    selected: '',
                    options: [
                        ]
                    }
                });
            }
            var options = [];
            for (var i = 0; i < data.length; ++i)
            {
                options.push({text: data[i]['time'], value: data[i]['id']});
            }
            reportVue.options = options;
            reportVue.selected = data[0]['id'];
        }
        function refreshTree() {
            var nowId = dirVue.selected;
            if (now == nowId) {
                return;
            }
            else {
                now = nowId;
                dataToNodes(JSON.parse(dirs[nowId]));
            }
        }
        function downloadFile() {
            window.open("/code_week/get-code-zip-" + dirVue.selected.toString() + "/");
        }
        function downloadReport() {
            window.open("/code_week/download-report-" + reportVue.selected.toString() + "/");
        }
        function clickFile(event, treeId, treeNode, clickFlag) {
            if (isNaN(treeNode.id))
            {
                return;
            }
            $.ajax({
                type:"GET",
                url:"/code_week/get-code-" + treeNode.id.toString() +"/",
                success:function (data) {
                    {#globalCodeData = data;#}
                    {#var script = document.createElement('script');#}
                    {#script.src = 'data:text/javascript;charset=gbk,(function(){console.log(globalCodeData);alert(globalCodeData);var x = new Uint8Array(globalCodeData);editor.setValue(x);})()';#}
                    {#document.body.appendChild(script);#}
                    editor.setValue(data);
                },
                error:function (jqXHR) {
                    alert("error" + jqXHR.status);
                }
            });
        }
        function checkContribution() {
            var members = $('.member_name');
            var contributionStr = "";
            for (var i = 0; i < members.length; ++i) {
                var val = parseInt(members[i].nextElementSibling.value);
                if (i > 0)
                    contributionStr += ',';
                contributionStr += members[i].innerHTML;
                contributionStr += ":";
                var score = (6 - parseInt(val.toString())) * 20;
                contributionStr += score.toString();
            }
            $('#ctext').val(contributionStr);
            return true;
        }
        function addNode2(rootId, i, dirdata, Nodes) {
            for (var item in dirdata) {
                if (typeof(dirdata[item]) == 'number') {
                    Nodes.push({id:dirdata[item].toString(), pId:rootId, name:item});
                }
                else { // 目录
                    if (Object.keys(dirdata[item]).length > 0) {
                        Nodes.push({id: i++, pId: rootId, name: item, open: true});
                        i = addNode2(i - 1, i, dirdata[item], Nodes);
                    }
                    else {
                        Nodes.push({id: i++, pId: rootId, name: item, isParent: true});
                    }
                }
            }
            return i;
        }
        function dataToNodes2(dirdata) {
            var i = 1;
            zNodes.push({id:i, pId:0, name:'目录', open:true});
            ++i;
            addNode2(i-1, i, dirdata, zNodes);
        }
        function addNode(rootId, i, dirdata, Nodes) {
            for (var item in dirdata) {
                if (typeof(dirdata[item]) == 'number') {
                    Nodes.push({id:dirdata[item], pId:'dir_'+rootId.toString(), name:item});
                }
                else { // 目录
                    if (Object.keys(dirdata[item]).length > 0)
                    {
                        Nodes.push({id:'dir_'+(i++).toString(), pId:'dir_'+rootId.toString(), name:item, open:true});
                        i = addNode(i-1, i, dirdata[item], Nodes);
                    }
                    else {
                        Nodes.push({id:'dir_'+(i++).toString(), pId:'dir_'+rootId.toString(), name:item, isParent:true});
                    }
                }
            }
            return i;
        }
        function dataToNodes(dirdata) {
            zNodes = [];
            var i = 0;
            zNodes.push({id:'dir_' + i.toString(), pId:0, name:'代码目录', open:true});
            ++i;
            addNode(0, i, dirdata, zNodes);
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        }

    </script>
{% endblock %}