{% extends 'base.html' %}
{% comment %}用于学生提交代码{% endcomment %}
{% block extrahead %}
    {% load static %}
    <script src="{% static 'assets/js/jquery.ztree.core.js' %}"></script>
    <link href="{% static 'assets/css/zTreeStyle/zTreeStyle.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/demo.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/codemirror/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/codemirror/material.css' %}">
    <script src="{% static 'assets/js/codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/addon/display/autorefresh.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/mode/clike.js' %}"></script>
    <script src="{% static 'assets/js/codemirror/mode/python.js' %}"></script>
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data" onsubmit="return checkContribution()">
    {% csrf_token %}
    <input type="file" name="codeFile" accept="application/zip">
    <p>请填写贡献度（请确保总和为100）:</p>
    {% if members %}
        {% for member in members %}
            <lable class="member_name">{{ member.get_full_name }}</lable> <input type="text"><br>
        {% endfor %}
    {% endif %}
    <input type="text" id="ctext" name="contribution" hidden="true">
    <button type="submit">提交</button>
</form>
    <div class="content_wrap">
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
        <textarea id="code-display" cols="50" rows="10"></textarea>
    <script type="text/javascript">
        var editor;
        var setting = {
            data: {
				simpleData: {
					enable: true
				}
			},
            callback: {
                onClick: clickFile
            }
	};
        var zNodes = [];
        $(document).ready(function(){
            $.ajax({
                type:"GET",
                url:"{% url 'get_dir' course.id %}",
                dataType:"json",
                success:function (data) {
                    {#dir = JSON.parse(data);#}
                    dataToNodes(data);
                },
                error:function (jqXHR) {
                    alert("error" + jqXHR.status);
                }
            });
			$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			var members = $('.member_name');
			if (members.length == 1)
            {
                members[0].nextElementSibling.value = 100;
            }
            editor = CodeMirror.fromTextArea(document.getElementById("code-display"),{
                lineNumbers:true,
                mode:"text/x-c++src",
                theme:'material',
            });

		});
        function clickFile(event, treeId, treeNode, clickFlag) {
            editor.setValue(treeNode.id.toString());
            $.ajax({
                type:"GET",
                url:"/code_week/get-code-" + treeNode.id.toString(),
                success:function (data) {
                    editor.setValue(data);
                },
                error:function (jqXHR) {
                    alert("error" + jqXHR.status);
                }
            });
        }
        function checkContribution() {
            var members = $('.member_name');
            var sum = 0;
            var contributionStr = "";
            for (var i = 0; i < members.length; ++i) {
                var val = parseInt(members[i].nextElementSibling.value);
                if (val == NaN || val < 0 || val > 100)
                {
                    alert("请输入有效的数字")
                    return false;
                }
                sum += val;
                if (sum > 100)
                {
                    alert("贡献度总和大于100");
                    return false;
                }
                if (i > 0)
                    contributionStr += ',';
                contributionStr += members[i].innerHTML;
                contributionStr += ":";
                contributionStr += val.toString();
            }
            if (sum != 100)
            {
                alert("贡献度总和小于100");
                return false;
            }
            else
            {
                $('#ctext').val (contributionStr);
                return true;
            }
        }
         function addNode2(rootId, i, dirdata, Nodes) {
            for (var item in dirdata) {
                if (typeof(dirdata[item]) == 'number') {
                    Nodes.push({id:dirdata[item].toString(), pId:rootId, name:item});
                }
                else { // 目录
                    if (Object.keys(dirdata[item]).length > 0) {
                        Nodes.push({id: i++, pId: rootId, name: item, open: true});
                        i = addNode2(i - 1, i, dirdata[item], Nodes);
                    }
                    else {
                        Nodes.push({id: i++, pId: rootId, name: item, isParent: true});
                    }
                }
            }
            return i;
        }
        function dataToNodes2(dirdata) {
            var i = 1;
            zNodes.push({id:i, pId:0, name:'目录', open:true});
            ++i;
            addNode2(i-1, i, dirdata, zNodes);
        }
        function addNode(rootId, i, dirdata, Nodes) {
            for (var item in dirdata) {
                if (typeof(dirdata[item]) == 'number') {
                    Nodes.push({id:dirdata[item], pId:'dir_'+rootId.toString(), name:item});
                }
                else { // 目录
                    if (Object.keys(dirdata[item]).length > 0)
                    {
                        Nodes.push({id:'dir_'+(i++).toString(), pId:'dir_'+rootId.toString(), name:item, open:true});
                        i = addNode(i-1, i, dirdata[item], Nodes);
                    }
                    else {
                        Nodes.push({id:'dir_'+(i++).toString(), pId:'dir_'+rootId.toString(), name:item, isParent:true});
                    }
                }
            }
            return i;
        }
        function dataToNodes(dirdata) {
            var i = 0;
            zNodes.push({id:'dir_' + i.toString(), pId:0, name:'代码目录', open:true});
            ++i;
            addNode(0, i, dirdata, zNodes);
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        }

    </script>
{% endblock %}